<div class="d-flex justify-content-center mt-5">
    <div class="d-flex flex-wrap m-2">
        <button type="button" class="btn btn-primary m-2" (click)="changeMenuTag(menuTag)" *ngFor="let menuTag of menuTags">
            {{menuTag}}
        </button>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-product-list [menuTagChild]="menuTagParent"></app-product-list>
        </div>
        <div class="col-md-6">
            <app-basket></app-basket>
        </div>
    </div>
</div>