.basket_container {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 27px 40px 40px;
    background-color: #fff;
    border-radius: 20px;
}
.basket_text {
    text-align: center;
    font-weight: 600;
    font-size: 23px;
    line-height: 27px;

    color: rgba(33, 33, 33, 0.75);
}
.product_name {
    font-size: 20px;
    line-height: 24px;
    color: #212121;
    margin-bottom: 13px;
}
.count {
    color: #2F8BE6;
    margin-left: 21px;
}
.products {
    font-size: 13px;
    line-height: 16px;
    color: #757575;
}
.delete_icon {
    cursor: pointer;     
}
.total_price {
    color: #2F8BE6;
}
.check_out {
    margin-top: 63px;
}
.check_out_button {
    width: 227px;
    height: 56px;
    background: #2F8BE6;
    border: 1px solid #2F8BE6;
    border-radius: 29px;
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
    outline: none;
}

.fade {
    opacity: 0;
    transition: opacity .15s linear;
}
.modal-backdrop.show {
    opacity: .5;
}
.modal-backdrop.fade {
    opacity: 0;
}
.fade.show {
    opacity: 1;
}
.my-modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 0;
    }