<div class="basket_container">
  <h4 class="basket_text">Basket</h4>
  <div *ngIf="basketData.length" class="d-flex flex-column justify-content-between h-100 mt-5">
    <div *ngFor="let item of basketData; let i = index">
      <div class="basket_content" >
        <div class="d-flex justify-content-between">
          <div class="product_container">
            <h4 class="product_name">{{item.name}}<span class="count">x{{item.count}}</span></h4>
            <p class="products">{{item.description}}</p>
          </div>
          <div class="d-flex align-items-center justify-content-end delete" (click)="deleteItem(item)">
            <img class="delete_icon" src="assets/icons/delete.svg" alt="">
          </div>
        </div>
        <hr class="m-4" *ngIf="i != basketData.length - 1">
      </div>
    </div>

    <div class="total">
      <hr class="m-4">
      <div class="d-flex justify-content-between">
        <h4>Total</h4>
        <h4 class="total_price">${{total}}</h4>
      </div>
      <div class="check_out d-flex justify-content-center align-items-center">
        <button class="check_out_button" (click)="openConfirm()">
          Check out
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!basketData.length">
    <p class="text-center">Basket is empty {{basketData}}</p>
  </div>
</div>


<div class="modal fade my-modal" tabindex="-1" role="dialog" #confirmModal>
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-body my-4">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"  (click)="closeConfirm()">No
        </button>        
        <button type="button" class="btn btn-primary"  (click)="openSuccess()">Yes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade my-modal" tabindex="-1" role="dialog" #successModal>
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-body my-4">
        Operation successfully completed
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"  (click)="closeSuccess()" >Close
        </button>        
      </div>
    </div>
  </div>
</div>