<div class="product_container d-flex  justify-content-between flex-column">
  <div *ngFor="let item of menu_items" class="example">
    <div class="img_part">
      <img src="../assets/pizza.jpeg">
    </div>
    <div class="description_part d-flex justify-content-between flex-column">
      <div>
        <div class="d-flex justify-content-between">
          <h5>{{item?.name}}</h5>
          <h5>${{item?.price}}</h5>
        </div>
        <div>
          <p class="description">
            {{item.description}}
          </p>
        </div> 
      </div>
      <div class="d-flex justify-content-end add_cart_div">
        <div *ngIf="item.count > 0" class="d-flex justify-content-between align-items-center add_cart_button_more">
          <button  class="minus_item" (click)="deleteItem(item)">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
            </svg>
          </button>
          <span>{{item.count}}</span>
          <button class="plus_item" (click)="addToCart(item)">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          </button>
        </div>

        <button *ngIf="item.count == 0" class="add_cart_button" (click)="addToCart(item)">
          Add to cart
        </button>
      </div>     
    </div>
  </div>
</div>