.product_container {
    margin-top: 60px;
}
.example {
    display: flex;
    min-height: 274px;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 40px;
}
.img_part {
    min-height: 100%;
    width: 50%;
    img {
        height: 100%;
        width: 100%;
        border-radius: 20px 0 0 20px;
    }
}
.description_part {
    width: 50%;
    padding: 46px 20px 17px;
}
.description {
    font-size: 13px;
    color: #757575;
    line-height: 16px;
    margin-top: 13px;
}
.add_cart_button {
    width: 161px;
    height: 50px;
    background: #2F8BE6;
    border: 1px solid #2F8BE6;
    box-sizing: border-box;
    border-radius: 29px;
    color: #fff;
    outline: none;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
}
.add_cart_button_more {
    width: 161px;
    height: 50px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 29px;
    outline: none;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    padding: 3px;
}
.plus_item, 
.minus_item {
    border-radius: 50%;
    background: rgba(47, 139, 230, 0.28);
    outline: none;
    border: none;
    width: 42px;
    height: 42px;
    color: #2F8BE6;
    font-size: 32px;
}
.add_cart_button:hover { 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}