/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #E5E5E5;
  padding: 0;
  margin: 0;
}